@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:5001/">HOME</a></p>
    <p><a href="https://localhost:5001/Employee">Employee</a></p>
    <p><a href="https://localhost:5001/Manager">Manager</a></p>
    <p><a href="https://localhost:5001/Director">Director</a></p>

   
</div>
